<div class="login-page">
    <div class="container-fluid">
        <div class="bg_container">
            <div class="bg_image"></div>
        </div>
        <section class="login-section col-md-6 col-md-offset-3">
            <div class="row">
                <div class="sign-up-section col-md-6">
                    <%= render 'partials/sign-up_form' %>
                </div>
                <div class="log-in-section col-md-6">
                    <%= render 'partials/log-in_form' %>
                </div>
            </div>
        </section>
    </div>
</div>
