<div class="home-page">
    <div class="container">
        <div class="row">
            <section class="feed-section col-md-3"></section>
            <section class="main-question-section col-md-6">
                <%= render 'partials/question_header' %>
                <%= render 'partials/news_feed' %>
            </section>
        </div>
    </div>
</div>