<div class="answer-container">
    <div class="container">
        <div class="row">
            <section class="answer-left-section col-md-2"></section>
            <section class="main-question-section col-md-6">
                <%= render 'partials/answer_container' %>
            </section>
        </div>
    </div>
</div>












